<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>This is the test of app.component.html and app.component.css</h1>
  
  
  The given number is : {{inum}} <br>
  The given string is :{{strName}} <br> <br>

  User Details : <br><br>
  User Id/Name : {{userobj.uid}} <br>
  User Password :{{userobj.pwd}}

  <img [src]="imgURL">
<br><br>
  <button (click)="enablebutton()"> Enable Button</button>
  <button (click)="disablebutton()">Disable Button</button><br>

  <button [disabled]="benablebutton">a simple button</button> 

  <input #email placeholder="Enter email">

  <button (click)='verifyemail (email.value)'> Verify Email</button><br><br>

  <input type="text" [(ngModel)]="strNametwowaydatabinding"><br>

  given Name : {{strNametwowaydatabinding}}
  <input type="text" [(ngModel)]="strNameparenttochild">
  <app-child [strNameparenttochild]="strNameparenttochild"></app-child>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <button [ngClass]="['btn btn-danger','button123']" (click)="Buttonclick()" >Button</button> -->


  <!-- <div [ngClass]="(bcustomer==true)? 'customer':'employee'">
    <form method="get">
      User Id :<input type="text"/><br><br>
      Password :<input type="password"/><br><br>
      <input type="Submit" value="Login"><br><br>
    </form>

  <button type="button" (click)="changetocustomer()"> Change To Customer</button>
  <button type="button" (click)="changetoemployee()"> Change To Employee</button>
  </div>

  <input type="text" [(ngModel)]="strColor"><br><br>
  <p [ngStyle]="{'color':strColor,'font-size':strFontsize+'px'}">This is ngStyle.......</p>
  <input type="text" [(ngModel)]="strColor"><br>
  <input type="text" [(ngModel)]="strFontsize"><br><br>
  <p [ngStyle]="{'color':strColor,'font-size':strFontsize+'px'}">This is ngStyle.......</p>


 <input type="text" [(ngModel)]="strCustomer"> <br>
 <p [ngStyle]="{'background-color':(strCustomer.toUpperCase()=='YES')?'green':'red',color:'black'}"> Are You Customer</p>

 <ul>
   <li *ngFor="let user of userlist">
     {{user.uid}},{{user.name}}
   </li>
 </ul>
 <div class="container">
   <table class="table table-hover table-bordered">
      <thead>
        <th>User Id</th>
        <th>Name</th>
        <th>Password</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of userlist">
          <td>{{user.uid}}</td>
          <td>{{user.name}}</td>
          <td>{{user.pwd}}</td>
          <td><input type="button" value="Edit"></td>
        </tr>
      </tbody>
   </table>
 </div>

 <button type="button" (click)="goodmorning()">Good Morning</button>
 <button type="button" (click)="goodevening()">Good Evening</button>

  <div *ngIf="bmorning==true">
      <h2>Good Morning</h2>
  </div>
  <div *ngIf="bevening==true">
      <h2>Good Evening</h2>
  </div> -->

  <!-- <input type="text" [(ngModel)]="strData">
  <div [ngSwitch]="strData">
    <div *ngSwitchCase="1">one</div>
    <div *ngSwitchCase="2">two</div>
    <div *ngSwitchCase="3">three</div>
    <div *ngSwitchCase="4">four</div>
    <div *ngSwitchCase="5">five</div>
    <div *ngSwitchDefault>This is default</div>
  </div> -->
  <h1>Pipes</h1>
<div class="background">
  <div class="upplow">
    <h2>Uppercase and lowercase Pine</h2>
    <input type="text" [(ngModel)]='strDataToConvert'><br>

    Original String : {{strDataToConvert}} <br>
    Given string in upper case : {{strDataToConvert | uppercase}} <br>
    Given string in lower case : {{strDataToConvert | lowercase}} 
  </div>

  <div class="upplow currency">
    <h2>currency pipe</h2>
    <input type="text" [(ngModel)]='iCurrencyData'> <br>
    Amount in USD :{{iCurrencyData | currency : "USD"}} <br>
    Amount in INR :{{iCurrencyData | currency :'RS.'}} <br>
    Amount in EUR :{{iCurrencyData | currency :'JPY'}}
  </div>
  <div class="upplow">
    <h2>Date Pipe</h2>
    Todays date in Millis : <b>{{todayDateinmillis}} </b><br>
    Todays date in Millis piped to date pipe : <b>{{todayDateinmillis | date}} </b><br><br>

    Todays date in Date Obj :<b> {{todayDateinobj}} </b><br>
    Todays date in date obj with date pipe : <b>{{todayDateinobj|date}} </b><br><br>

    Todays date in string format : <b>{{todayDateinstringformate}} </b><br>
    Todays date in string format with date pipe :<b> {{todayDateinstringformate| date}} </b><br><br>

    Short Date :<b>  {{todayDateinobj | date :"short"}} </b><br>
    Medium Date : <b>{{todayDateinobj | date :"medium"}} </b><br>
    Long Date : <b>{{todayDateinobj | date :"long"}}</b>

  </div>

  <div class="upplow">
    <h2>JSON Pipe</h2>
    JSON Object : <b>{{jsonuserobj}} </b><br>
    JSON object with json pipe : <b>{{jsonuserobj | json}} </b><br><br>

    JSON array of objects : <b>{{jsonstudentobj}} </b><br>
    JSON array of objects :<b>{{jsonstudentobj | json}}</b> <br>
    <br>
    <br>
    <br><br>

  </div>
  <div class="upplow">
    <h2>Decimal pipe
    </h2>
    Original data :<b>{{idatafordecimalpipe}}</b><br>
    Using Decimal pipe '1.0-2' :<b>{{idatafordecimalpipe | number :'1.0-2'}}</b><br>
    Using Decimal pipe '1.0-3' :<b>{{idatafordecimalpipe | number :'1.0-3'}}</b>

  </div>
  <div class="upplow">
    <h2>Percent pipe
    </h2>
    Original data :<b>{{idataforpercentpipe}}</b><br>
    Using percent pipe '1.0-2' :<b>{{idataforpercentpipe | percent :'1.0-2'}}</b><br>
    Using percent pipe '1.0-3' :<b>{{idataforpercentpipe | percent :'1.1-3'}}</b>

  </div>
  <div class="upplow">
    <h2>slice pipe
    </h2>
    <input type="text" [(ngModel)]='idatafromstringslice'> <br>
    Original data :<b>{{idatafromstringslice}}</b><br>
    Using slice pipe 2nd to 5th char  :<b>{{idatafromstringslice | slice :2:5}}</b><br>
    Using slice pipe 5th to -1th char   :<b>{{idatafromstringslice | slice :5:-1}}</b><br>
    Using slice pipe last 3 :<b>{{idatafromstringslice | slice:-3}}</b><br>
    Using slice pipe last 6 :<b>{{idatafromstringslice | slice :6}}</b>
    <br><br>

  </div>
  <div class="upplow">
    <h2>Temp Converter</h2>
    <input type="text" [(ngModel)]="iFarent"> <br>
    Given Data : <b>{{iFarent}} </b><br>
    Farenheit to celcius : <b>{{iFarent | tempConverter :'ToCelcius'| number :'1.0-2'}}</b><br><br>

    <input type="text" [(ngModel)]='iCelcius'> <br>
    Given Data in celcius : <b>{{iCelcius}}</b><br>
    Celcius to Farenheit :<b>{{iCelcius |tempConverter :'ToFaren'| number :'1.0-2'}}</b>
  </div>
  <h1>Assignment Day 3</h1>
  <div class="upplow2">
    <h3>Q1 and Q2</h3>
    <input type="text" [(ngModel)]='strDatastring'><br>
    Original String : {{strDatastring}} <br>
    Given string in upper case : {{strDatastring | uppercase}} <br>
    <br>
  </div>
  <div class="upplow2">
    <h3>Q3</h3>
    <input type="text" [(ngModel)]='icurrency'> <br>
    Amount in USD :{{icurrency | currency : "USD"}} <br>
    Amount in INR :{{icurrency | currency :'RS.'}} <br>
    Amount in EUR :{{icurrency | currency :'JPY'}}
  </div>
  
  <div class="upplow23">
    <h3>Q4 and Q5</h3>
    Todays date in Millis : <b>{{todayDateinmillis}} </b><br>
    Todays date in Millis piped to date pipe : <b>{{todayDateinmillis | date}} </b><br><br>

    Todays date in Date Obj :<b> {{todayDateinobj}} </b><br>
    Todays date in date obj with date pipe : <b>{{todayDateinobj|date}} </b><br><br>

    Todays date in string format : <b>{{todayDateinstringformate}} </b><br>
    Todays date in string format with date pipe :<b> {{todayDateinstringformate| date}} </b><br><br>

    Short Date :<b>  {{todayDateinobj | date :"short"}} </b><br>
    Medium Date : <b>{{todayDateinobj | date :"medium"}} </b><br>
    Long Date : <b>{{todayDateinobj | date :"long"}}</b><br>
    Full Date : <b>{{todayDateinobj | date :"full"}}</b><br>
    ShortDate Date : <b>{{todayDateinobj | date :"ShortDate"}}</b><br>
    MediumDate Date : <b>{{todayDateinobj | date :"mediumDate"}}</b><br>
    Longdate Date : <b>{{todayDateinobj | date :"longDate"}}</b><br>
    Fulldate Date : <b>{{todayDateinobj | date :"fullDate"}}</b><br>
    Shorttime Date : <b>{{todayDateinobj | date :"shortTime"}}</b><br>
    Mediumtime Date : <b>{{todayDateinobj | date :"mediumTime"}}</b><br>
    Longtime Date : <b>{{todayDateinobj | date :"longTime"}}</b><br>
    Fulltime Date : <b>{{todayDateinobj | date :"fullTime"}}</b><br>

  </div>
  <div class="upplow2">
    <h3>Q6</h3>
    JSON Object : <b>{{jsonempobj}} </b><br>
    JSON object with json pipe : <b>{{jsonempobj | json}} </b>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
  </div>
  <div class="upplow2">
    <h3>Q7</h3>
    JSON array of objects : <b>{{jsoninsuranceobj}} </b><br>
    JSON array of objects :<b>{{jsoninsuranceobj | json}}</b> <br>
    <br><br>
    JSON array of objects : <b>{{jsonstudentobj}} </b><br>
    JSON array of objects :<b>{{jsonstudentobj | json}}</b> <br>
    <br>
  </div>

  <div class="upplow2">
    <h3>Q8
    </h3>
    Original data :<b>{{idatadecimalpipe}}</b><br>
    Using Decimal pipe '1.0-0' :<b>{{idatadecimalpipe | number :'1.0-0'}}</b><br>
    Using Decimal pipe '1.0-0' :<b>{{idatadecimalpipe | number :'1.0-0'}}</b>

  </div>
  <div class="upplow2">
    <h3>Q9 and Q10
    </h3>
    Original data :<b>{{idatapercentpipe}}</b><br>
    Using percent pipe '1.0-2' :<b>{{idatapercentpipe | percent :'1.0-2'}}</b><br>
    Using percent pipe '1.0-3' :<b>{{idatapercentpipe | percent :'1.1-3'}}</b>

  </div>  
  <div class="upplow2">
    <h3>Q11
    </h3>
    <input type="text" [(ngModel)]='idatafromstringslice'> <br>
    Original data :<b>{{idatafromstringslice}}</b><br>
    Using slice pipe 2nd to 5th char  :<b>{{idatafromstringslice | slice :2:5}}</b><br>
    Using slice pipe 5th to -1th char   :<b>{{idatafromstringslice | slice :5:-1}}</b><br>
    Using slice pipe last 3 :<b>{{idatafromstringslice | slice:-3}}</b><br>
    Using slice pipe last 6 :<b>{{idatafromstringslice | slice :6}}</b>
    <br><br>

  </div>
  <div class="upplow2">
    <h3>Q12</h3>
    First Edit Box :<input type="text" [(ngModel)]='idataslicepipe'> <br>
    Second Edit Box : <b>{{idataslicepipe | slice:1:-1}}</b><br>
    Third Edit Box : <b>{{idataslicepipe | slice:1:-1}}</b>
  </div>
  <div class="upplow2">
    <h3>Q14</h3>
    <input type="text" [(ngModel)]="iFarent"> <br>
    Given Data : <b>{{iFarent}} </b><br>
    Farenheit to celcius : <b>{{iFarent | tempConverter :'ToCelcius'| number :'1.0-2'}}</b><br><br>

    <input type="text" [(ngModel)]='iCelcius'> <br>
    Given Data in celcius : <b>{{iCelcius}}</b><br>
    Celcius to Farenheit :<b>{{iCelcius |tempConverter :'ToFaren'| number :'1.0-2'}}</b>
  </div>

  <div class="upplow2">
    <h3>Q15</h3>
    <input type="text" [(ngModel)]='stringconvert'><br>

    
    string in upper case : {{stringconvert | uppercase}} <br>
    string in lower case : {{stringconvert | lowercase}} <br>
    string in capitlize case :{{stringconvert | titlecase}}
  </div>
</div>
</body>
</html>